In [2]:
print("my name is \"Qasim\" ")

my name is "Qasim"

In [3]:
name="Qasim"

In [6]:
name.title()

'Qasim'

In [7]:
33 + 5

38

In [8]:
23 - 7

16

In [9]:
2 * 10

20

In [10]:
2 / 10

0.2

In [11]:
int = 10/5

In [12]:
10 // 5 #for int division by defult float main hota hai

2

In [13]:
#modulo operator 
12%5

2

In [14]:
#equity 
10 == 10

True

<h3>Lists</h3>

In [15]:
llist=[] #empty list
print(type(llist))

<class 'list'>

In [16]:
llist = ["Qasim" , "Hassan" , 22 , 23 , [1,2,3]]
#list main aik aur list bhi add kar  sakte hain 
print(llist)

['Qasim', 'Hassan', 22, 23, [1, 2, 3]]

In [17]:
llist[4] #to call a specific index of an array

[1, 2, 3]

In [18]:
llist[4][0] #list ke andar jo list hai uska index access karne ke
#liyay

1

In [19]:
llist[-2] #negative indexing bhi hothi hain

23

In [20]:
names =["Qasim" , "Bilal" , "Raza" , "Naufil"]
for name in names:
    print(name)

Qasim
Bilal
Raza
Naufil

In [27]:
msg = "Hello Good morning"
for name in names:
    print(msg + name)

Hello Good morningQasim
Hello Good morningBilal
Hello Good morningRaza
Hello Good morningNaufil

In [28]:
#list add , del , replace 
llist.append("Bilal")
llist[0]=123
print(llist)

[123, 'Hassan', 22, 23, [1, 2, 3], 'Bilal']

In [29]:
alist = llist
print(alist)

[123, 'Hassan', 22, 23, [1, 2, 3], 'Bilal']

In [30]:
llist[0]="Qasim"

In [31]:
print(llist)

['Qasim', 'Hassan', 22, 23, [1, 2, 3], 'Bilal']

In [32]:
print(alist) #this prooves keh yeh sirf reference bani hai

['Qasim', 'Hassan', 22, 23, [1, 2, 3], 'Bilal']

In [33]:
alist = llist.copy() #copy ab iss ko seperate kardegi 
print(alist)

['Qasim', 'Hassan', 22, 23, [1, 2, 3], 'Bilal']

In [34]:
#list concatenate 
newlist=alist+llist
print(newlist)

['Qasim', 'Hassan', 22, 23, [1, 2, 3], 'Bilal', 'Qasim', 'Hassan', 22, 23, [1, 2, 3], 'Bilal']

In [35]:
# string is also iterable
car = "civic"
print(car[0])

c

In [36]:
for word in car:
    print(word)

c
i
v
i
c

In [37]:
newlist.extend(car)

In [38]:
print(newlist) # extned jo karna hai woh itteratable
#hona chiyay hai

['Qasim', 'Hassan', 22, 23, [1, 2, 3], 'Bilal', 'Qasim', 'Hassan', 22, 23, [1, 2, 3], 'Bilal', 'c', 'i', 'v', 'i', 'c']

In [39]:
newlist.index("Qasim") # index utha ke laraha hai keh konse index
#pe value hai

0

In [40]:
newlist.index("Qasim",1) # yeh jo one hai yeh searching ke liyay
#hai keh kis index se searching karo after 1 index value 6th index
# pe Qasim arha hai

6

In [41]:
newlist.insert(0,"Hi")
print(newlist)

['Hi', 'Qasim', 'Hassan', 22, 23, [1, 2, 3], 'Bilal', 'Qasim', 'Hassan', 22, 23, [1, 2, 3], 'Bilal', 'c', 'i', 'v', 'i', 'c']

In [42]:
newlist.remove("Hi") #delete main index dena hotha hai remove main 
# index ki value batani hothi hai 
print(newlist)

['Qasim', 'Hassan', 22, 23, [1, 2, 3], 'Bilal', 'Qasim', 'Hassan', 22, 23, [1, 2, 3], 'Bilal', 'c', 'i', 'v', 'i', 'c']

In [44]:
newlist.reverse() #simple reverse 
print(newlist)

['Qasim', 'Hassan', 22, 23, [1, 2, 3], 'Bilal', 'Qasim', 'Hassan', 22, 23, [1, 2, 3], 'Bilal', 'c', 'i', 'v', 'i', 'c']

In [45]:
nlist=[1,256,30,41,33,6,7]
nlist.sort() #simple sort 
print(nlist)

[1, 6, 7, 30, 33, 41, 256]

In [46]:
nlist.sort(reverse=True) #descending main kardeyag becayse reverse
# true kardiya hai jo keh by default fasle hotha hai 
print(nlist)

[256, 41, 33, 30, 7, 6, 1]

In [47]:
poped = nlist.pop() #lifo follow hoga
poped

1

In [48]:
rlist = [22,547,5678,3546,345,2352,36345745,7]
rlist.sort()

In [50]:
print(rlist)

[7, 22, 345, 547, 2352, 3546, 5678, 36345745]

In [51]:
rlist.sort(reverse = True)

In [52]:
rlist.sorted()

AttributeError: 'list' object has no attribute 'sorted'

In [53]:
ylist=sorted(rlist)

In [54]:
print(ylist)

[7, 22, 345, 547, 2352, 3546, 5678, 36345745]

In [55]:
for a in "Qasim":
    print(a, end=".")

Q.a.s.i.m.

In [57]:
for num in range(1,10):   #starting from 1 till further 10
    print(num)

1
2
3
4
5
6
7
8
9

In [ ]:
for num in range(0,10,2):